@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-image: linear-gradient(
            to top right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("https://i.pinimg.com/originals/72/c1/86/72c186aed486a5bcc5185ec5e30cbe0c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x:hidden;
}


.footer-container {
    position: absolute;
    top: 100%;
    width: 100%;
    opacity: 0.8;
}